<footer>
    <div class="socials">
            <a href="https://api.whatsapp.com/send?phone=5527997994540" target="_blank">
                <img src="whatsapp.svg" alt="">
            </a>
            <a href="https://github.com/cleltonjm" target="_blank">
                <img src="github.svg" alt="">
            </a>
            <a href="https://www.linkedin.com/in/cleltonmielke/" target="_blank">
                <img src="linkedin.svg" alt="">
            </a>
        </div>
        <span>© 2025 Clelton José Mielke</span>
</footer>
