footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--color-border);
    padding: 1.5rem;
    gap: 0.5rem;

    span {
        color: var(--color-text-muted);
    }
}

.socials {
    display: flex;
    gap: 1rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        background: var(--color-text-muted);

        transition: transform 0.2s ease;
    
        img {
            width: 1.5rem;
            background: var(--color-text-muted);
        }

        &:hover {
            background: var(--color-text);
            transform: scale(1.1);

            img {
                background: var(--color-text);
            }
        }
    }
}