main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    padding-top: 7rem;
    padding-bottom: 2rem;

    min-height: 100vh;
    overflow: auto;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--color-text-muted);
    margin: 0 3rem;

    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInLeft 1.5s ease-in forwards;

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 1.5s ease-in forwards;
}

.profile {
    img {
        width: 15rem;
        border-radius: 50%;
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: var(--color-text);
    }

    p {
        color: var(--color-text-muted);
    }
}

.separator {
    height: 2px;
    width: 150%;
    background-color: var(--color-divider);
}

.socials {
    display: flex;
    gap: 1rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: var(--color-text-muted);

        transition: transform 0.2s ease;
    
        img {
            width: 2rem;
            background: var(--color-text-muted);
        }

        &:hover {
            background: var(--color-text);
            transform: scale(1.1);

            img {
                background: var(--color-text);
            }
        }
    }
}

.arrow-down {
    display: none;
    align-items: center;
    justify-content: center;

    animation: bounce 2s infinite;

    img {
        width: 4rem;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .about-me {
        width: 50%;
    }

    .home-container {
        flex-direction: row;
    }

    .separator {
        width: 80%;
    }

    .arrow-down {
        display: flex;
    }
}

@media (min-width: 1080px) {
    .about-me {
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

    .separator {
        width: 80%;
    }
}

@media (min-width: 1310px) {
    .separator {
        width: 100%;
    }
}