<main>
    <div class="home-container">
        <div class="about-me">
            <h1>Um pouco sobre mim</h1>
            <p>
                Olá! Sou Formado em Sistemas de Informação, atualmente atuando como Desenvolvedor Web com experiência na criação de interfaces modernas, responsivas e funcionais. <br/><br/>
                Apaixonado por tecnologia, tenho domínio de HTML, CSS, JavaScript e frameworks como React e Angular.
                Busco sempre unir design e performance para proporcionar a melhor experiência ao usuário. <br/><br/>
                Ajudo empresas à transformar sonhos em código. Vamos conversar?
            </p>
        </div>

        <div class="user">
            <div class="profile">
                <img src="http://github.com/cleltonjm.png" alt="">
                <div class="description">
                    <h2>Clelton José Mielke</h2>
                    <p>< Desenvolvedor Front-end /></p>
                </div>
            </div>

            <div class="separator"></div>

            <div class="socials">
                <a href="https://api.whatsapp.com/send?phone=5527997994540" target="_blank">
                    <img src="whatsapp.svg" alt="">
                </a>
                <a href="https://github.com/cleltonjm" target="_blank">
                    <img src="github.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/cleltonmielke/" target="_blank">
                    <img src="linkedin.svg" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="arrow-down">
        <img src="icons/arrow-down.svg" alt="Icone Arrow-down" />
    </div>
</main>
