<section>
    <h1>< Projetos /></h1>

    <div class="projects">
        <a href="https://github.com/cleltonjm/smartfit-challenge" class="project-item" target="_blank">
            <img src="/projects/smartfit.jpg" />

            <h2>Desafio Smarfit</h2>
            <span>
                Desafio produzido pela Smartfit para desenvolver o Front-end responsivo do site. 
                A aplicação pesquisa e filtra todas as academias abertas em uma API disponibilizada na AWS.
            </span>

            <div class="technologies">
                <span class="tech-item">Angular</span>
                <span class="tech-item">TypeScript</span>
            </div>
        </a>

        <a href="https://github.com/cleltonjm/udemy_clone" class="project-item" target="_blank">
            <img src="/projects/udemy.jpg" />

            <h2>Udemy Clone</h2>
            <span>
                Projeto pessoal com o objetivo de desenvolver o Front-end do site da Udemy. 
                A aplicação contém o Mock dos cursos com json.srver.
            </span>

            <div class="technologies">
                <span class="tech-item">React</span>
                <span class="tech-item">TypeScript</span>
                <span class="tech-item">Json server</span>
            </div>
        </a>

        <a href="https://github.com/cleltonjm/moveit" class="project-item" target="_blank">
            <img src="/projects/moveit.jpg" />

            <h2>Move it</h2>
            <span>
                Uma plataforma Web para ajudar as pessoas a fazerem mais exercícios. 
                Desenvolvido durante o bootcamp NLW#4 da Rocketseat.
            </span>

            <div class="technologies">
                <span class="tech-item">React</span>
                <span class="tech-item">TypeScript</span>
                <span class="tech-item">NextJS</span>
            </div>
        </a>
    </div>
</section>
