<section class="services">
    <h1>< Serviços /></h1>
    <div class="services-list">
        <div class="services-card">
            <h2>Criação de sites</h2>
            <span>Criação de sites institucionais, landing pages e páginas pessoais com design moderno, responsivo e otimizado para desempenho e SEO.</span>
        </div>

        <div class="services-card">
            <h2>Desenvolvimento de Sistemas Web</h2>
            <span>Sistemas personalizados (CRM, dashboards, sistemas internos) criados sob medida para atender às necessidades específicas do seu negócio.</span>
        </div>

        <div class="services-card">
            <h2>UI/UX Design</h2>
            <span>Criação de interfaces intuitivas, atraentes e centradas no usuário, focando na melhor experiência de navegação e interação.</span>
        </div>

        <div class="services-card">
            <h2>Integrações com APIs e Plataformas</h2>
            <span>Integração com APIs de terceiros, como gateways de pagamento, serviços de envio, redes sociais, CRMs e outros sistemas externos.</span>
        </div>
    </div>
</section>