.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    padding: 3rem 0;

    gap: 2rem;

    background-color: var(--color-divider);

    h1 {
        font-size: 2rem;
        font-weight: 600;
        
        background: linear-gradient(135deg, #f5f5f5, #2a2a2a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.services-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    gap: 1rem;
}

.services-card {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 20rem;

    padding: 1rem;
    gap: 1rem;

    border: 1px solid var(--color-divider);
    border-bottom: 5px solid var(--color-primary);
    border-radius: 8px;

    background: var(--color-border);

    transition: transform 0.2s ease;

    box-shadow: 9px 9px 13px -6px rgba(0,0,0,0.59);
    -webkit-box-shadow: 9px 9px 13px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 9px 9px 13px -6px rgba(0,0,0,0.59);

    h2 {
        color: var(--color-text);
    }

    span {
        color: var(--color-text-muted);
    }

    &:hover {
        transform: scale(1.03);
        border: 1px solid var(--color-primary);
        border-bottom: 5px solid var(--color-primary);
    }
}

@media (min-width: 768px) {    
    .services-list {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 1fr;

        gap: 5rem;
    }
}