.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    overflow: auto;

    padding-top: 7rem;

    gap: 5rem;

    h1 {
        font-size: 2rem;
        font-weight: 600;
        
        background: linear-gradient(135deg, #f5f5f5, #2a2a2a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.skill-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 13rem;
    height: 12rem;

    padding: 1rem;

    border-radius: 12px;
    border: 1px solid transparent;
    border-bottom: 5px solid var(--color-primary);

    background-color: var(--color-divider);

    transition: transform 0.2s ease;
    box-shadow: 9px 9px 13px -6px rgba(0,0,0,0.59);
    -webkit-box-shadow: 9px 9px 13px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 9px 9px 13px -6px rgba(0,0,0,0.59);

    img {
        width: 4rem;
    }

    span {
        font-size: 1.5rem;
        color: var(--color-text);
    }

    &:hover {
        transform: scale(1.03);
        border: 1px solid var(--color-primary);
        border-bottom: 5px solid var(--color-primary);
    }
}

@media (min-width: 768px) {
    .skills {
        justify-content: center;
        padding-top: 3rem;
    }

    .skills-container {
        gap: 4rem;
    }

    .skill-card {
        width: 12rem;
        height: 10rem;
    }
}