<section id="skills" class="skills">
    <h1>< Tecnologias /></h1>

    <div class="skills-container">
        <div class="skill-card">
            <img src="/icons/react.svg" alt="React logo">
            <span>React</span>
        </div>
        <div class="skill-card">
            <img src="/icons/angular.svg" alt="React logo">
            <span>Angular</span>
        </div>
        <div class="skill-card">
            <img src="/icons/typescript.svg" alt="React logo">
            <span>Typescript</span>
        </div>
        <div class="skill-card">
            <img src="/icons/javascript.svg" alt="React logo">
            <span>Javascript</span>
        </div>
        <div class="skill-card">
            <img src="/icons/html.svg" alt="React logo">
            <span>HTML</span>
        </div>
        <div class="skill-card">
            <img src="/icons/css.svg" alt="React logo">
            <span>CSS</span>
        </div>
    </div>
</section>
